Binaries
DerivedDataCache
Intermediate
Saved
Build

# Crash logs and backups
*.dmp
*.log
*.temp
*.tmp
*.bak

# Encryption temp folders & compression junk
*_temp_folder/
enc_temp_folder/
__MACOSX/
*.zip
*.rar

# Visual Studio 
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


# Compiled Object files
*.slo
*.lo
*.o
*.obj